<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chef Details</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #333;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      padding: 5px;
      margin: 5px 0;
      background-color: #f5f5f5;
      border-radius: 3px;
    }
  </style>
</head>
<body>
<h1>Product of <span th:text="${chef.firstName}" ></span></h1>
<table>
    <tbody>
    <tr>

        <td th:each="dish: ${chef.dishes}">
            <label class="form-check">
                <input class="form-check-input" type="radio" name="dishId" th:value="${dish.dishId}" required/>
                <span th:text="${dish.name} + ', ' + ${dish.cusine} + ' (' + ${dish.preparationTime} + ' min)' ">
                </span>
                <form method="post" th:action="@{'/deletefromBucket/' + ${dish.dishId}}">
                    <input type="hidden" th:value="${chef.id}" name="chefId">
                    <button type="submit">Delete</button>
                </form>
<!--                <a method="post" th:href="@{'/deletefromBucket/' + ${dish.dishId}}">Delete</a>-->
                <br>
            </label>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
